@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    min-height: 100vh;
}

body {
    position: relative;
    font-family: "Gilroy Regular", "Times New Roman", serif;
    color: #ffffff;
    min-height: 100vh;
}

/* common classes */

.content {
    position: relative;
    margin: 0 auto;
    width: 1080px;
}

.modestLink {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.whiteLine {
    display: block;
    height: 4px;
    background-color: #ffffff;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.ellipseIcon {
    display: block;
    width: 167px;
    height: 149px;
    background: #424FD3;
}

.orangeText {
    color: #EA5616;
}

.check {
    display: block;
    width: 32px;
    height: 24px;
    background: url('../images/check.svg') no-repeat left top;
    position: absolute;
    left: 0;
    top: 3px;
}

/* HEADER */

.header {
    height: 88px;
    background-color: #323241;
}

.psbLogo {
    position: absolute;
    left: 0;
    top: 24px;
}

.psbIcon {
    display: block;
    width: 131px;
    height: 40px;
    background: url('../images/psb_logo.svg') no-repeat left top;
}

.sravniLogo {
    position: absolute;
    right: 0;
    top: 24px;
}

.sravniIcon {
    display: block;
    width: 218px;
    height: 40px;
    background: url('../images/sravni_logo.svg') no-repeat left top;
}

/* howToSaveMoney */

.howToSaveMoney {
    height: 378px;
    background-color: #323241;
}

.mainSlogan {
    padding-top: 28px;
    width: 550px;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    text-transform: uppercase;
    color: #EA5616;
}

.howToSaveMoneyIcon {
    position: absolute;
    right: 0;
    top: 20px;
    display: block;
    width: 373px;
    height: 337px;
    background: url('../images/phone_qr.svg') no-repeat left top;
}

/* guideFastPayments */

.guideFastPayments {
    height: 176px;
    background-color: #323241;
}

.guideSlogan {
    width: 550px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.guideButton {
    position: absolute;
    top: 49px;
    right: 0;
}

.guideLink {
    width: 327px;
    height: 86px;
    background: #EA5616;
    font-weight: bold;
    font-size: 25px;
    line-height: 86px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

/* prehistory */

.prehistory {
    padding: 70px 0;
}

.prehistory p {
    color: #323241;
    font-size: 35px;
    line-height: 41px;
    margin: 30px 0;
}

.prehistoryIcon {
    position: absolute;
    left: -193px;
    top: -131px;
}

/* easyGuide */

.easyGuide {
    background-color: #323241;
    padding: 28px 0;
}

.easyGuide p {
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

/* benefits */

.benefits {
    padding: 130px 0 96px;
}

.benefits ul {
    display: flex;
    flex-wrap: wrap;
}

.benefits li {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    padding-left: 70px;
    padding-bottom: 100px;
    font-size: 35px;
    line-height: 41px;
    color: #323241;
}